@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;462;500;600&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@200;300;400&family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
body{
    font-family: 'serif', sans-serif;
}
html {
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
/*Navbar*/
.navbar-dark{
	background: rgba(1, 6, 17, 0.8);
}

.navbar-dark .navbar-nav .nav-link{
	color: #feda6a!important;
	letter-spacing: 1px;
	font-size: 16px;
	position: relative;
    padding: 10px 15px;
    font-family: 'Cinzel', serif;
}
.navbar-dark .navbar-nav .nav-item{
	margin: 0px 5px;
}
.navbar-dark .navbar-nav .nav-item span{
	position: relative;
	z-index: 2;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav 
.nav-link:focus{
	color:  #feda6a;
	/* background: #000; */
}
.navbar-dark .navbar-nav .nav-link.active{	
	color:  #feda6a;
	/* background: #000; */
}
.navbar-dark .navbar-nav .nav-link::after {
    content: '';
    width: 0;
    height: 5px;
    /* background: #0a0a0a; */
    position: absolute;
    bottom: 0;
    left: 0;
	right: 0;
	text-align: center;
	margin: 0 auto;
    border-radius: 0px;
    transition: all .5s;
    z-index: 0;
}
.navbar-dark .navbar-nav .nav-link.active:after{
    width:84.5%;
    height: 100%;
}
.navbar-toggler{
    outline:none!important;
}
/*End of Navbar*/
/*Hero Section*/
.hero{
    min-height: 660px;
    overflow:hidden;
    /* background-image: linear-gradient(to right,rgba(29,30,34,0.5),rgba(57,63,77,0.5)),
    url("./img/back-1.jpg"); */
    background-position: bottom;
    background-size:cover;
    position: relative;
}
#carouselExampleIndicators .carousel{
    position: absolute;
    background-color: linear-gradient(to right,rgba(29,30,34,0.5),rgba(57,63,77,0.5));
}
#carouselExampleIndicators h1{
    color: rgb(255, 215, 0,0.7);
    font-size: 40px;
    padding: 5px;

    /* width: auto; */
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    background: linear-gradient(to right,rgba(29,30,34,0.0),rgba(57,63,77,0.1));
    text-shadow: 0px 11px 10px rgba(14, 15, 15, 0.5);
}
.card{
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.175,0.885,0.32,1.275);
    font-family: 'Italianno', cursive;
    position: absolute;

}
.card .card-body h3{
    font-size: 26px;
    font-weight: 300;
    color: #feda6a;
    letter-spacing: 1px;
}
.card .card-body{
    background-color: #1D1E22;
}
.card:hover{
    transform: scale(1.1);
}
.card-img-top{
    height:300px;
    object-fit: cover;
}

/*End of Hero Section*/
/*About Section*/
.about-container{
    overflow:hidden;
}
@media (min-width:1200px){
    .about-container{
        padding-top:75px;
        padding-bottom:50px;
    }
}
.about-img{
    position: relative;
}
@media (min-width:1200px){
    .about-img{
        left:165px;
    }
}
.about-img-small{
    position: absolute;
    bottom:-55px;
    right:50px;
}
@media (min-width:992px){
    .about-img-small{
        left:-180px;
    }
}
@media (min-width:992px){
    .about-content{
        margin-top:60px;
        }
}
.section-intro h4{
    font-family: 'Cinzel', serif;
    justify-content: center;
    text-align: center;
    color: rgba(14, 15, 15, 0.7);
}
.section-intro h2{
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}


.about-content p{
    margin-top:18px;
    margin-bottom:35px;
    font-family: serif;
    justify-content: center;
    text-align: center;
    color: rgba(14, 15, 15, 0.7);
    font-size: 18px;
}
.main-btn{
    cursor: pointer;
    
}
.main-btn .btn-text span{
    text-decoration: none;
}

 .about-content .image{
    align-content: center;
    padding-left: 120px;
}
.about-content a{
    
    margin-left: 120px;
}
/* .about-content span{
    
    margin-left: 120px;
} */
.col-lg-5 .about-img img{
    margin-right: 100px;
    margin-top: 50px;
}
.btn-hover{
    margin:20px auto;
    border:none;
    padding:10px 44px;
    font-size:18px;
    position:relative;
    display:inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
   
}
.btn-hover:before{
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content:"";
    width:50%;
    height: 100%;
    background: #000;
    position:absolute;
    top:0;
    left:0;
    border-radius: 10px 0px 0px 10px;
    
}
.btn-hover .btn-text{
    color:white;
    mix-blend-mode: difference;
    
}
.btn-hover:hover::before{
    background:#000;
    width:100%;
    border-radius:10px;
   
   
}

/*End of about Section*/
/*Gallery Section*/
.gallery-section{
    width: 100%;
    float:left;
    padding-bottom:10px;
}
.gallery-title{
    width: 100%;
    float:left;
    text-align:center;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    justify-content: center;
    text-align: center;
    color: rgba(14, 15, 15, 0.7);
}
.gallery-text{
    width: 100%;
    float: left;
    text-align:center;
    margin:0px;
    padding-top:20px;
    font-family: serif;
    justify-content: center;
    text-align: center;
    color: rgba(14, 15, 15, 0.7);
    font-size: 18px;
}
.gallery-section-2{
    width: 100%;
    float:left;
    padding-top:50px;

}
.image{
    display: block;
    width:100%;
    height: auto;
}
img.image{
    min-height: 300px;
}
.gallery-main{
    position: relative;

}
.overlay{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height: 100%;
    width:100%;
    opacity: 0;
    transition:.5s ease;
    background-color:rgba(57,63,77,0.5);
    margin: 0 auto;
}
.gallery-main:hover .overlay{
    opacity: 1;
}
.text{
    color:white;
    font-size:60px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}
.text i{
    color: #feda6a;
}
.glow{
    display: inline-block;
    vertical-align: middle;
    transform:perspective(1px)translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    transition-duration: 0.3s;
    transition-property: box-shadow;
}
.glow:hover,
.glow:focus,
.glow:active{
    box-shadow: 0 0 8px rgba(5,5,5,0.9);
}
/*End of Gallery Section*/
/* Services Section*/
.services-section{
    width: 100%;
    float:left;
    background-image: linear-gradient(to right,rgba(29,30,34,0.5),rgba(57,63,77,0.5)),url(./img/about-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    padding-bottom: 100px;
    background-attachment: fixed;
}
.services-title{
    width:100%;
    float:left;
    font-size: 24px;
    font-weight: bold;
    text-align:center;
    font-family: 'Cinzel', serif;
    justify-content: center;
    text-align: center;
    color:whitesmoke;
    padding-top: 50px;
    /* background: rgba(255, 252, 252, 0.5); */
}
.services-text{
    width:100%;
    float:left;
    
    font-family: serif;
    justify-content: center;
    text-align: center;
    color:  rgba(255, 255, 255, 0.8);
    font-size: 40px;
    margin:0px;
    text-align:center;
}
.service-icon{
    width: 200px;
    height:auto;
    border-radius: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.service-icon i{
    width: 45px;
    min-height: 50px;
}
.service-main{
    width:100%;
    background: rgba(212, 212, 220, 0.6);
    padding:40px 30px;
    box-shadow:0px 0px 18px -6px black;
    border-radius: 25px;
}
.service-main:hover{
    background:rgb(254, 218, 106,0.7);
}

.heading-text{
    width:100%;
    font-size:38px;
    color:#000;
    padding-top:30px;
    text-align:center;
    font-family: 'Great Vibes', cursive;
    font-weight: 300;
    letter-spacing: 1px;

}
.main-text{
    width: 100%;
    font-size:14px;
    color:#000;
    margin:0px;
    text-align:center;
    font-family: serif;
}
.service-main:hover .heading-text{
    color:#000;
}
.service-main:hover .main-text{
    color:#000;
}
.service-main:hover .service-btn{
    display:block;
}
.service-main:hover .service-btn a{
    color:#feda6a;
    background: #000;
    text-decoration: none;
}
.service-main:hover .service-icon i{
    color: black;
    
}
.service-btn{
    width:175px;
    padding-top:40px;
    margin: 0 auto;
    display:flex;
    padding-bottom: 40px;
}

.service-icon i{
    color: rgb(254, 218, 106,0.8);
}

.service-btn a{
    width: 100%;
    float:left;
    font-size:16px;
    background:#30333b80;
    color:#feda6a;
    text-align: center;
    padding:8px;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
    border-radius: 10px;
}


.service-btn a:hover{
    color:#fff;
}
/*End of Services Section*/
/* Team Section*/
.team .team-1{
    text-align:center;
    margin-bottom: 20px;
    background:#343a40;
    position:relative;
    overflow:hidden
}
.team .team-1 .team-info{
    opacity:0;
    position: absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
    transition:0.2s;
}
.team .team-1 .team-des{
    position:absolute;
    left:50px;
    right:0;
    bottom:0;
    transition:bottom 0.4s;

}
.team .team-1 .team-des h4{
    font-weight:bold;
    margin-bottom:2px;
    font-size: 18px;
    color:#fff;
}
 .team  h2{
font-family: 'Cinzel', serif;
justify-content: center;
text-align: center;
color: rgba(14, 15, 15, 0.7);
font-size: 24px;
 
text-shadow: 1px 1px 3px black;

}
.team .team-1 .team-des span{
    font-style:italic;
    display:block;
    font-size:13px;
    color:#fff;
}
.team .team-1 .social{
    position: absolute;
    left:-50px;
    top:0;
    bottom:0;
    width:50px;
    transition: left ease-in-out 0.3s;
    background: rgba(0,0,0,0.5);
    text-align: center;
}
.team .team-1 .social a{
    transition: color 0.3s;
    display:block;
    color:#fff;
    margin-top:15px;
}
.team .team-1 .social a:hover{
    color:yellow;
}

.team .team-1 .social i{
    font-size: 18px;
    margin: 0 2px;
}
.team .team-1:hover .team-info{
    background:linear-gradient(0deg, rgba(0,0,0,0.9)0%,rgba(0,0,0,0.8)20%,
    rgba(0,212,255,0)100%);
    opacity:1;
    transition:0.4s;
}
.team .team-1:hover .team-des h4{
    bottom:30px;
    transition: bottom 0.4s;
    color:#fff;
}
.team .team-1:hover .social{
    left:0;
    transition:left ease-in-out 0.3s;
}
.team .section-title{
    padding: 20px;
}
.team .section-title h2{
    margin-bottom: 10px;
}
/*End of Team Section*/
/* Pricing Section*/
.prices{
    background:linear-gradient(to right,rgba(29,30,34,0.5),rgba(57,63,77,0.5)),
    url(./img/back-3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    padding:90px 0 0px 0;
    position:relative;
}
.prices .title{
    text-align:center;
}
.prices .title h2{
    color:#000;
    font-family: 'Cinzel', serif;
    font-size:24px;
    color:whitesmoke;
}
.prices .title p{
    color:silver;
    display:block;
    font-size: 32px;
    padding-top:15px;
    line-height:20px;
    font-family: serif;
}
.main-img{
    box-shadow: 8px 0px 29px rgba(22,22,23,0.17);
    text-align: center;
    background:linear-gradient(to right,#1D1E22, #393f4d);
    border-radius:30px;
    padding:20px 0;
}
.main-img figure{
    margin:0;
}
.price{
    text-align:center;
    padding:35px 0;
    
}

.price h4{
    font-size:29px;
}
.price h3{
    font-size:29px;
    line-height:34px;
    color:#000;
}
.price p{
    font-size:16px;
    line-height:15px;
    color:#fff;
    padding: 20px 0;
    font-family:'Cinzel', serif;
}
.amount{
    color:#000;
}
.margin-top{
    margin-top: -272px;
}
.price-btn{
    background:#000;
    color:#feda6a;
    padding:15px;
    border-radius:30px;
    display: inline-block;
    vertical-align: middle;
    transform:perspective(1px)translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    transition-duration: 0.3s;
    transition-property: transform;
    border

}
.price-btn:hover,
.price-btn:focus,
.price-btn:active{
    transform:scale(1.1) rotate(4deg);
    text-decoration:none;
    font-weight: bold;
    color:#feda6a;
}
/*End of Pricing  Section*/
.contact .info{
    padding:30px;
    width:100%;
    /* background-image: linear-gradient(to right,rgba(29,30,34,0.5),rgba(57,63,77,0.5)),
    url("./img/back-1.jpg");; */
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.1);
}
.contact{
    background-image: linear-gradient(to right,rgba(29,30,34,0.5),rgba(57,63,77,0.5)),
    url("./img/back-1.jpg");
    overflow: hidden;
    object-fit: cover;
    /* background-repeat:no-repeat; */
    
}
.contact  h2{
    font-family: 'Cinzel', serif;
    justify-content: center;
    text-align: center;
    color: rgba(231, 240, 240, 0.9);
    font-size: 24px;
    margin-top: 50px;
    }
    .contact  p{
        color: silver;
        font-family: serif;
    }
.contact .info i{
    font-size:20px;
    color:rgb(254, 218, 106,0.8);
    float:left;
    width:44px;
    height:44px;
    background:#000;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:50px;
    transition:all 0.3s ease-in-out;
    
}
.contact .info h4{
    padding:0 0 0 60px;
    font-size:22px;
    font-weight:bold;
    margin-bottom:5px;
    color:rgb(254, 218, 106,0.8);
    font-family: 'Fraunces', serif;
    padding-top: 5px;
}
.form-group .form-control{
    background:rgba(14, 17, 24, 0.6);
}
.col-lg-5 .info{
    background:rgba(14, 17, 24, 0.6);
    border: solid 1px silver;
}
.contact .info p{
    padding: 0 0 0 60px;
    margin-bottom:0;
    font-size:15px;
    color:silver;
}
.contact .info .email p{
    padding-top:5px;
}
.contact .info .social-links{
    padding-left:60px;
}
.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i{
    background:#feda6a;
    color:#000;
}
.contact .form-group{
    padding-bottom:8px;
}
.contact textarea{
    border-radius:0;
    box-shadow: none;
    font-size:14px;
    padding:10px 12px;
}
.contact input{
    height:44px;
}
.contact button[type="submit"]{
    background: rgba(14, 15, 15, 0.7);
    border: solid 1px silver;
    padding:10px 24px;
    font-family: 'Kaushan Script', cursive;
    color: #feda6a;
    transition: 0.4s;
    border-radius: 5px;
    font-size: 20px;
    
}
.contact button[type="submit"]:hover{
    background:rgba(254, 218, 106,0.8);
    color:#000;
    border: solid 1px black;
}
.row {
    padding-bottom:10px;
}
.col-lg-5 iframe{
    background:rgba(14, 17, 24, 0.6);
    padding: 5px;
    border: solid 1px silver;
}
.footer{
    background:#000;
    padding:0 0 30px 0;
    color:#fff;
    font-size:14px;
}
.footer .footer-top{
    background: #000;
    border-bottom:1px solid #feda6a;
    padding:60px 0 30px 0;
}
.footer .footer-top .footer-info{
    margin-bottom:30px;
}
.footer .footer-top .footer-info h3{
    font-size:24px;
    margin: 0 0 2px 0;
    padding: 2px 0 2px 0;
    line-height:1;
    font-weight:bold;
    font-family:'Cinzel', serif;
}
.footer .footer-top .footer-info p{
    font-size:14px;
    line-height:24px;
    margin-bottom: 0;
    color:#fff;
}
.footer .footer-top .social-links a{
    font-size:18px;
    display:inline-block;
    background:#feda6a;
    color:#000;
    line-height:1;
    padding:8px 0;
    margin-right:4px;
    border-radius: 50%;
    text-align:center;
    width:36px;
    height:36px;
    transition:0.3s;
    font-family:'Cinzel', serif;
}
.footer .footer-top .social-links a:hover{
    background: #feda6a;
    color:#000;
    text-decoration:none ;
}
.footer .footer-top h4{
    font-size:16px;
    font-weight: bold;
    color:#fff;
    position: relative;
    padding-bottom: 12px;
}
.footer .footer-top .footer-links{
    margin-bottom: 30px;
}
.footer .footer-top .footer-links ul{
    list-style: none;
    padding:0;
    margin:0;
}
.footer .footer-top .footer-links ul i{
    padding-right:2px;
    color:#feda6a;
    font-size:18px;
    line-height: 1;
    
}
.footer .footer-top .footer-links ul li{
    padding: 10px 0;
    display:flex;
    align-items:center;
}
.footer .footer-top .footer-links ul li:first-child{
    padding-top:0;
}
.footer .footer-top .footer-links ul a{
    color:#fff;
    transition:0.3s;
    display:inline-block;
    line-height:1;
}
.footer .footer-top .footer-links ul a:hover{
    color:#feda6a;
}
.footer .footer-top .footer-newsletter form{
    margin-top:30px;
    background:#fff;
    padding:6px 10px;
    position:relative;
    border-radius: 4px 0 0 4px;
}
.footer .footer-top .footer-newsletter form input[type="email"]{
    border:0;
    padding:4px;
    width: calc(100% - 110px);
}
.footer .footer-top .footer-newsletter form input[type="submit"]{
    position:absolute;
    top:0;
    right:-4px;
    bottom:0;
    border:0;
    background:none;
    font-size:16px;
    padding:0 20px;
    background:#feda6a;
    color:#000;
    transition:0.3s;
    border-radius: 0 4px 4px 0;
    
}
.footer .footer-top .footer-newsletter form input[type="submit"]:hover{
    background:#feda6a;
}
.footer .copyright{
    text-align:center;
    padding-top:30px;
}
.footer .credits{
    padding-top:10px;
    text-align:center;
    font-size:13px;
    color:#feda6a;
}
.footer{
    background:linear-gradient(to right,#1d1e22,#393f4d);
}
.footer .footer-top{
    background:linear-gradient(to right,#1d1e22,#393f4d); 
}